.App {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin: 0;
    color: #998367;
    font-weight: 100;
    font-size: 100px;
}

.toDoLists {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.toDo {
    margin: 20px;
    min-width: 400px;
}

.paper {
    padding: 15px;
}

.addTaskBlock {
    position: relative;
    margin-bottom: 10px;
}

.arrow {
    position: relative;
    top: 8px;
    left: 8px;
    margin-right: 16px;
}

.addTaskInput {
    border: none;
    font-size: 1em;
    font-style: italic;
    outline: none;
    opacity: 50%;
}

.error {
    border: 1px solid red;
    border-radius: 5px;
}

.toDoFilters {
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;
}

.filter {
    font-size: 0.8em;
    border: none;
    background-color: #fff;
}

.active {
    border: 1px solid #998367;
}

.clear {
    font-size: 0.8em;
    border: none;
    background-color: #fff;
}

.tasks {
    margin-bottom: 5px;
}

.task {
    margin: 0;
}

.completed {
    opacity: 50%;
    text-decoration: line-through;
}

hr {
    margin: 0;
}